/* OVERALL*/
*{
    scroll-behavior: smooth;
    margin: 0;
    /* top:5vw; */
}
h1{
 color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 3rem;
}
h2{
  font-size: 4vw;
}
h3{
  margin: 2%;
  background-color: #93D7FF;
  color: rgb(0, 0, 0);
  padding: 1.5%;
  font-size: 3vw;
  box-shadow: 2px 2px 8px #004070;
}
p{
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
  background-color: #004070;
  padding: 1vw;
  padding-inline: 3.5vw;
  font-size: 1.5vw;
  color: white
}
button:hover{
background-image: linear-gradient(to right, #00a2ff, rgb(12, 0, 34));
}

body{
  background-color: #bae0f7;
}


/* header */
.header {
position: relative;
text-align: center;
color: rgb(255, 255, 255);
}
.headcontainer{
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
}

#video1{
  width: 100rem;
  height: auto;
  /* opacity: 0.7; */
}
/* link */
a:link{
  color: #ffffff;
  font-size: 1vw;
  z-index: 3;
}

a:visited{
  color: #f6fdff;
  font-size: 15px;
}

/* Navigation */
nav{
  background-color: #004070;
  color: rgb(255, 255, 255);
  padding: 1vw;
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 8px #004070;
  z-index: 3;

}

/* dropdown */
.dropbutton {

  padding: .8vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}
.dropdown {
  position: absolute;
  display: inline-block;
}
.dropdownstuff {
  display: none;
  position: absolute;
  background-image: linear-gradient(to right, #93D7FF, rgb(12, 0, 34));
  min-width: 10000%;
  left: -500%;
}
.dropdownstuff a {
  color: rgb(12, 0, 80);
  padding: .5%;
}
.dropdownstuff a:hover {
  background-color: #ddf2ff;

}
.dropdown:hover .dropdownstuff {
  display: flex;
  padding-left: 80%;
  max-width: 100%;
}

/* subscribe banner */
.subscribe{
  position: relative;
  margin-top: 2%;
  background-color: #93D7FF;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2vw;
  width: 100%;
  box-shadow: 2px 2px 8px #004070;
} 
.subscribe > #big{
  color: #ffffff;
  display: inline-block;
  font-size: 2vw;
  padding:2vw;
  padding-inline: 3vw;
  background-image: linear-gradient(to right, #00a2ff, rgb(12, 0, 34));
  box-shadow: 2px 2px 8px #004070;
  
}
.subscribe > button{
  background-color: #004070;
  padding: 1vw;
  padding-inline: 3.5vw;
  font-size: 1.5vw;
  margin-left: 3.5%;
}
.subbuttons:hover{
  background-image: linear-gradient(to right, #00a2ff, rgb(12, 0, 34));
}

/* segment section */
.info{
  display:inline-block;
  margin-top: 2%;
  margin: 3%;
  padding: 4%;
  background-color: #93D7FF;
  box-shadow: 2px 2px 8px #004070;

}
.info > .image1{
  float: left;
  width: 20%;
  margin-right: 2%;
}
.info > .segment1{
  font-size: 3vw;
}

.info > .paragraph1{
  font-size: 2vw;
  margin-top: 2%;
}

/* Why shop online section */
.last{
  display: inline-block;
}
.shop{
  display: inline-block;
  align-items: center;
}
.image2{
/* display: flex; */
 width: 20%;
 margin: 2%;
 margin-left: 2.5%;
 float: left;

 /* display: inline-block; */
}
p{
  text-align: center;
  padding: 3%;  
  /* max-width: 75%; */
  float: 20%
}
footer{
  margin: 5%;
}


@media screen and (max-width: 1024px){
  body{
  background-color:  #00aeff;
  }
  #video1{
    /* width: 100rem; */
    left:25%
  }
  .subscribe {
  margin-top: .5rem;
  padding: 1rem;
  }
  .subscribe > button{
  padding: .1rem;
  padding-inline: 1.5rem;
  font-size: 1rem;
  margin: 1rem; 
  margin-left: 1.4rem;
}
.videos{
  /* position: relative; */
  width: 1rem;
  /* height: auto; */
  z-index: -1;
}
nav{
  padding: .5rem;
}
.info{
  margin-top: .5rem;
  margin: 1rem;
  padding: 2%;
}
.info > .image1{
  width: 10rem;
  margin-right: 1rem;
}
.last{
  padding: auto;
  margin: 1rem;
}
p{
  font-size: 1rem;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}
}
@media screen and (max-width: 768px){
.corpologo{
  width: 8rem;
}
h1{
  font-size: 3rem;
}
button{
  font-size: 2.3rem;
}
#video1{
    /* width: 100rem; */
    left:75%
  }
body{
  background-color:  #f2ff00;
  }
.subscribe {
  text-align: center;
  margin: .1rem;
  padding: .1rem;
  }
.subscribe > #big{ 
  font-size: 1.3rem;
  display: block;
  margin: .8rem;
  /* padding: rem; */
  }
.subscribe > .subbuttons {
margin-top: .05rem;
margin-left: 1rem;
margin: .3rem;

}
.image1{
  width: 20rem;
  margin: 1rem;
}
.last{
  align-items: center;
}
/* .image2{
  width: 15rem;
  margin: 1rem;
} */
@media screen and (max-width: 600px){
h1{
  font-size: 3rem;
}
button{
  font-size: 2rem;
}
  body{
  background-color:  #ffc4c4;
  }
}
@media screen and (max-width: 480px){
  
  body{
  background-color:  #00ff22;
  }

.info{
    align-items: center;
    text-align: center;
  }
.info > .image1{
  float: none;
}
.last{
  /* design: block; */
  text-align: center;
  align-items: center;
}
.subscribe > .subbuttons{
  font-size: 1.2rem;
  margin:.5rem
}
/* .image2{
  text-align: center;
  width: 10rem;
} */
@media screen and (max-width: 320px){
  .video{
    left:80%
  }
  h1{
    font-size: 2rem;
    /* top: 90rem; */
  }
  h3{
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
  }
  button{
    margin: 2rem;
    font-size: 1rem;
  }
  .subscribe > .subbuttons{
  font-size: 1rem;
  margin:.5rem
}
  body{
  background-color:  #ffffff;
  }
  .dropdownstuff a:link{
    font-size: 13px;
    }
  .dropdownstuff a:hover {
    background-color: #ddf2ff;
   }
  .info{
    align-items: center;
    text-align: center;
  }
.info > .image1{
  float: none;
}
.last{
  margin:0;
 text-align: left;
  align-items: center;
  position: relative;
}
.image2{

  display: block;
  width:15rem;
 
}
}
}
}
  