/* OVERALL*/
*{
    scroll-behavior: smooth;
    margin: 0%;
}


body {
  background-color: rgb(181, 237, 255);
}

h1 {

  background-color: rgb(12, 8, 48);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  position: fixed;
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 4px #180062;
  

}

p {
  font-family: verdana;
  font-size: 20px;
}
header {
  background-color: rgb(129, 157, 209);
  padding: 10px;
}
.hey {
  font-size: 20px;
  color: rgb(255, 0, 140);
  background-color: black;
  text-align: center;
}

/* .webhead{
 background-color: rgb(12, 8, 48);
  width: 1000vw;
  height: auto;
 
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 1;
  text-align: center;
  box-shadow: 2px 2px 4px #6b6b6b;
} */
/* .webheadfont{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  z-index: 2;
  font-size: large;
} */
  @media only screen and (max-width: 600px) {
 body{
  background-color: hwb(212 55% 0%);
 }
  }
@media only screen and (min-width: 600px) {
  
  body{
  background-color:  hwb(165 40% 6%);
  }


  }