/* OVERALL*/
*{
    scroll-behavior: smooth;
    margin: 0;
}
h1{
 color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {  
  background-color: rgb(255, 255, 255);
}

a:link{
  color: #ffffff;
  font-size: 1vw;
  z-index: 3;
}

a:visited{
  color: #f6fdff;
  font-size: 15px;
}


nav{
  background-color: #004070;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1vw;
  position: fixed;
  width: 100%;
  text-align: left;
  box-shadow: 2px 2px 8px #004070;
  z-index: 3;
}

.dropbutton {
  /* background-color: #0091ff; */
  color: rgb(250, 21, 21);
  padding: .8vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdownstuff {
  display: none;
  position: absolute;
  background-image: linear-gradient(to right, #93D7FF, rgb(12, 0, 34));
  min-width: 10000%;
  left: -500%;
}
.dropdownstuff a {
  color: rgb(12, 0, 80);
  padding: .5%;
}
.dropdownstuff a:hover {
  background-color: #ddf2ff;

}
.dropdown:hover .dropdownstuff {
  display: flex;
  padding-left: 80%;
  max-width: 100%;
}



.subscribe{
  margin-top: 2%;
  background-color: #93D7FF;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2vw;
  /* position: fixed; */
  width: 100%;
  /* text-align: left; */
  box-shadow: 2px 2px 8px #004070;
  z-index: 2;
} 
.subscribe > #big{
  display: inline-block;
  font-size: 2vw;
  padding:2vw;
  padding-inline: 3vw;
  background-image: linear-gradient(to right, #00a2ff, rgb(12, 0, 34));
  box-shadow: 2px 2px 8px #004070;
  
}
.subscribe > .subbuttons{
  background-color: #004070;
  padding: 1vw;
  padding-inline: 3.5vw;
  display: inline-block;
  font-size: 1.5vw;
  /* margin: 1%;  */
  margin-left: 2%;
}
.subbuttons:hover{
  background-image: linear-gradient(to right, #00a2ff, rgb(12, 0, 34));
}




/* .main{ */
  /* margin-top: 5%; */
  /* position: relative;
  text-align: center;
  color:white;
} */

.header {

position: relative;
text-align: center;
color: rgb(255, 255, 255);

}
.headcontainer{
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
}
button{
  background-color: #004070;
  padding: 1vw;
  padding-inline: 3.5vw;
  display: inline-block;
  font-size: 1.5vw;
  /* margin: 1%;  */
  margin-left: 2%;
  color: white
}

/* main > .above{
  z-index: 2;
  margin: 0;
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  */
  /* bottom:-30vw; */
  /* font-size:5vw;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px #000000;
  
  
  
} */
/* .main > .meetstart{
  position: relative; 
  bottom:-30vw;
  font-size:3vw;
  padding: 10px 24px;
  background-color: rgb(0, 64, 112);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000000;
  z-index:1;
   /* transform: (-50%, -50%); */
/* } */ */

.main > .meetstart:hover{
  background-image: linear-gradient(to right, #1572a8, rgb(22, 30, 114));
  color: #ffffff;
}
.main > .video1{
  height: auto;
  z-index: 1;
}


.info{
  display:inline-block;
  /* text-align: left; */
  margin-top: 2%;
  margin: 3%;
  padding: 4%;
  background-color: #93D7FF;
  box-shadow: 2px 2px 8px #004070;

}

.info > .image1{
  float: left;
  display: inline-block;
  width: 20%;
  margin-right: 2%;
}


.info > .segment1{
  font-size: 3vw;
  /* float: right; */
  display: inline-block;
}

.info > .paragraph1{
  font-size: 2vw;
  text-align: left;
  margin-top: 2%;

}

h3{
  margin: 2%;
  background-color: #93D7FF;
  color: white;
  padding: 2%;
  font-size: 2vw;
  box-shadow: 2px 2px 8px #004070;
}

.last{
  display: inline-block;
 
}
.last > .image2{
 width: 25%;
 margin-left: 3%;
display: inline-flex;

 
}

.last > .paragraph2{

  text-align: left;
  float:33%;
  padding: 3%;

}

footer{
  margin: 5%;
}


@media only screen and (max-width: 600px) {
 body{
  background-color: hwb(203 43% 0%);
 }
  }
@media only screen and (min-width: 600px) {
  
  body{
  background-color:  #c4ecff;
  }


  }