/* OVERALL*/
*{
    scroll-behavior: smooth;
    margin: 0%;
}


body {  
  background-color: rgb(181, 237, 255);
}
a:link{
  color: #93D7FF;
  font-size: 1vw;
  z-index: 3;
}
a:visited{
  color: #f6fdff;
  font-size: 15px;
}
nav{
  background-color: #004070;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1vw;
  position: fixed;
  width: 100%;

  text-align: left;
  box-shadow: 2px 2px 8px #004070;
  z-index: 2;
}

.dropbutton {
  background-color: #0091ff;
  color: rgb(250, 21, 21);
  padding: .8vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownstuff {
  display: none;
  position: absolute;
  background-image: linear-gradient(to right, #93D7FF, rgb(12, 0, 34));
  min-width: 10000%;
  max-width: 100%;
  left: -700%;
}
.dropdownstuff a {
  color: rgb(12, 0, 80);
  padding: .5%;
}
.dropdownstuff a:hover {
  background-color: #ddf2ff;

}
.dropdown:hover .dropdownstuff {
  display: flex;
  padding-left: 80%;
  max-width: 100%;
}


#logo{

  
}
p {
  font-family: verdana;
  font-size: 20px;
}
.hey {
  font-size: 20px;
  color: rgb(255, 0, 140);
  background-color: black;
  text-align: center;
}
.main{
  /* margin-top: 5%; */
  position: relative;
  text-align: center;
}
.main >.over{
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative; 
  bottom:-30vw;
  font-size:5vw;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px #000000;
  z-index: 1;
}
.main > .meetstart{
  position: relative; 
  bottom:-30vw;
  font-size:3vw;
  padding: 10px 24px;
  background-color: rgb(0, 64, 112);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000000;
  z-index:1;
   /* transform: (-50%, -50%); */

}
.main > .meetstart:hover{
  background-image: linear-gradient(to right, #1572a8, rgb(22, 30, 114));
  color: #ffffff;
}
.main > .video1{
  height: auto;
}

  @media only screen and (max-width: 600px) {
 body{
  background-color: hwb(212 55% 0%);
 }
  }
@media only screen and (min-width: 600px) {
  
  body{
  background-color:  #93D7FF;
  }


  }