/* OVERALL*/
*{
    scroll-behavior: smooth;
    margin: 0;
    /* top:5vw; */
}
h1{
 color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 3rem;
}
h2{
  font-size: 4vw;
  text-align: center;
}
h3{
  margin: 2%;
  background-color: #000000;
  color: #b71f1f;
  padding: 1.5%;
  font-size: 3vw;
  box-shadow: 2px 2px 8px #1c1c1c;
}
p{
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
  margin: 3rem;
  background-color: #000000;
  padding: 1vw;
  padding-inline: 3.5vw;
  font-size: 1.5vw;
  color: white
}
button:hover{
  background-image: linear-gradient(to right, #101010, rgb(197, 0, 0));
}

body{
  background-color: #ffffff;
}
.circle{
  position: relative;
  width: 10vw;
}
/* header */
.header {
position: sticky;
top: 0;

}
.header2{
  display:block;
  /* display: none; */
  position: sticky;
  top:0;
  text-align: center;
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
  font-size: 3vw;
}
.header3{
  display:block;
  /* display: none; */
  position: sticky;
  text-align: center;
   top:0;
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
  font-size: 3vw;
}
.areas{
  /* position: inline-block; */
  text-align: center;
}
.headcontainer1{
  display:block;
  /* float: 33%; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
}
.headcontainer2{
  display:block;
  /* float: 33%; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
}
.headcontainer3{
  display:block;
  /* float: 33%; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
}

 
.mid{
  background-color: #ffffff;
  z-index: 10;
  position: relative;
}
#video1{
  
  width: 100rem;
  height: auto;
  /* opacity: 0.7; */
}
#video2{
  width: 100rem;
  height: auto;
  /* position:sticky;
  top:0;
  bottom:0; */
  /* opacity: 0.7; */
}
#video3{
  
  width: 100rem;
  height: auto;
  /* opacity: 0.7; */
}

/* link */
a:link{
  color: #000000;
  font-size: 1vw;
  z-index: 3;
}

a:visited{
  color: #f6fdff;
  font-size: 15px;
}

/* Navigation */
nav{
  background-color: #000000;
  color: rgb(255, 255, 255);
  /* padding: 1vw; */
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 8px #2d3032;
  z-index: 3;

}

/* dropdown */
/* .dropbutton {
  padding: .8vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}
.dropdown {
  position: absolute;
  display: inline-block;
}
.dropdownstuff {
  display: none;
  position: absolute;
  background-image: linear-gradient(to right, #93D7FF, rgb(12, 0, 34));
  min-width: 10000%;
  left: -500%;
}
.dropdownstuff a {
  color: rgb(12, 0, 80);
  padding: .5%;
}
.dropdownstuff a:hover {
  background-color: #ddf2ff;

}
.dropdown:hover .dropdownstuff {
  display: flex;
  padding-left: 80%;
  max-width: 100%;
} */

/* subscribe banner */
.subscribe{
  /* position: relative; */
  margin-top: 2%;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2vw;
  width: 100%;
  box-shadow: 2px 2px 8px #414141;
} 
.subscribe > #big{
  color: #ffffff;
  display: inline-block;
  font-size: 2vw;
  padding:2vw;
  padding-inline: 3vw;
  background-image: linear-gradient(to right, #101010, rgb(197, 0, 0));
  box-shadow: 2px 2px 8px #4c4c4c;
  
}
.subscribe > button{
  background-color: #750000;
  padding: 1vw;
  padding-inline: 2.5vw;
  font-size: 1.5vw;
  margin-left: 3rem;
}
.subscribe > button:hover{
   background-image: linear-gradient(to right, #101010, rgb(197, 0, 0));
}

/* info segment section */
.info{
  position: relative;
  z-index: 2;
  display:inline-block;
  margin-top: 2%;
  margin: 3%;
  padding: 4%;
  background-color: #000000;
  box-shadow: 2px 2px 8px #004070;
  color: #b71f1f  ;
}
.info > p{
  color: white;
}
.info > .image1{
  float: left;
  width: 25%;
  margin-right: 2%;
}

/* Why shop with us section */
.last{
  display: inline-block;
}

.last > .image2{
  z-index: 4;
 width: 20%;
 margin: 2%;
}
footer{
  margin: 5%;
}


@media screen and (max-width: 1024px){
/* body{
  background-color:  #00aeff;
} */


p{
  font-size: 1rem;
}
h1{
  font-size: 3rem;

}
h2{
  font-size: 2.5rem;
}
button{
  margin:2rem;
}
.subscribe {
  margin-top: .5rem;
  padding: 1rem;
}
.subscribe > button{
  padding: .1rem;
  padding-inline: 1.5rem;
  font-size: 1rem;
  margin: 1rem; 
  margin-left: 1.4rem;
}
.info{
  margin: 3rem;
  padding: 2%;
}
.info > .image1{
  width: 10rem;
  margin-right: 1rem;
}
h3{
  font-size: 2rem;
  margin-bottom: 3rem;
  padding: 2rem;
}
}


@media screen and (max-width: 768px){
.corpologo{
  width: 8rem;
}
h1{
  font-size: 3rem;
}
button{
  font-size: 2.3rem;
  margin:2rem;
}
#video1{
    /* width: 100rem; */
    margin-right:75%
}
/* body{
  background-color:  #f2ff00;
} */
.subscribe {
  text-align: center;
  margin: .1rem;
  padding: .1rem;
}
.subscribe > #big{ 
  font-size: 1.3rem;
  display: block;
  margin: .8rem;
  /* padding: rem; */
}
.subscribe > button{
  margin-top: .5rem;
  margin-left: 1rem;
  padding-inline: 2.3rem;
  margin: 1rem;
}
.image1{
  width: 20rem;
  margin: 1rem;
}
.last > h3 {
  padding: 2rem;
  text-align: center;
}
.last > .image2{
  width: 20rem;
  margin-left: 2rem;
}
}


@media screen and (max-width: 600px){
nav{
  text-align: center;
}

h1{
  font-size: 3rem;
}
button{
  font-size: 2rem;
}
/* body{
  background-color:  #ffc4c4;
  } */
.info > p{
  text-align: center;
}
.info > .image1{
  width: 12rem;
}
.subscribe > button{
  font-size: 1.3rem;
  margin-inline:3rem ;
}
.last > .image2{
  width: 14rem;
  margin-left: 2rem;
}
.last > h3{
  text-align: center;
  bottom:20px;
}
}

@media screen and (max-width: 480px){
  /* body{
  background-color:  #00ff22;
 } */
button{
  margin:2rem;
}
.info{
    align-items: center;
    text-align: center;
  }
.info > .image1{
  float: none;
}
.last{
  /* design: block; */
  /* text-align: center; */
  align-items: center;
}
.subscribe > button{
  font-size: 1.2rem;
  margin:.5rem
}
.last > .image2{
  text-align: center;
  width:10rem;
  margin-left: 2rem;
}
}



@media screen and (max-width: 320px){
.video{
  left:80%
}
h1{
    font-size: 3rem;
  }
h3{
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
  }
button{
    margin: 2rem;
    font-size: 1rem;
    padding: 1rem;
}
.subscribe > .subbuttons{
  font-size: .9rem;
  margin:.3rem
}
  /* body{
  background-color:  #ffffff;
  } */
.last > .image2{
  width:12rem;
  margin-left: 3.5rem;
}
}