*{
    scroll-behavior: smooth;
    margin: 0;
    /* top:5vw; */
}
.header {
position: relative;
text-align: center;
color: rgb(0, 0, 0);
}

/* Navigation */
nav{
  position: fixed;
  background-color: #000000;
  color: rgb(255, 255, 255);
  /* padding: 1vw; */
  width: 100%;
  box-shadow: 2px 2px 8px #2d3032;
  z-index: 3;

}
.credit {
    padding: 1rem;
    font-size: .5rem;
}
.breadcrumbs{
    position: fixed;
    top:4rem;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    padding:.5rem;
    width:100%;
    font-size: 15px;
    box-shadow: #bfbfbf 2px 2px 8px;
}
.breadcrumbs a{
    font-family: "adamina", serif;
    text-decoration: none;
    color: #ff0000;
   
    /* position: fixed; */
}
.breadcrumbs a:hover{
    text-decoration: underline;
    background-color: #000000;
    padding: .5rem;
    color: #ffffff;
}
.breadcrumbs > a.currentsite{
    font-weight: bold;
    text-decoration: underline;
    
}


.row{
    padding-top: 2rem;


    
}
.leftfont{
    margin-top: 2rem;
    background: #000000;
    width: 100%;
    padding: 2vw;
    color: #ffffff;
    text-align: center;
}
h1{
     /* position: sticky;   */
    top: 5.5rem;
    text-align: center;
    position: relative;
    font-size: 3vw;
    z-index: 3;

    color: #b71f1f;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deals{
    text-align: center;
    background-color: #000000;
    position: relative;
    font-size: 2rem;
    top: 7rem;
    box-shadow: #000000 2px 2px 8px;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 21%;

    overflow-x: auto;
}

.deals > .sale{
    display:inline-block;
    width: 18vw;
    margin:2vw;
    background: #2d3032;
    padding: 1vw;
    
}

.featured{
    
    padding-top: 2rem;
    position: relative;
    display: inline-block;
    top: 6.5rem;
    width: 100%;
    /* text-align: center; */
  
}
.featured > img{
    display: inline-block;
    width: 25vw;
    margin: 2vw;
    margin-left: 4vw;
    box-shadow: #000000 2px 2px 8px;
}

.coming{
    position:sticky;
    top: 5vw;
    text-align: center;
    margin-top: 10rem;
    background: #2d3032;
    width: 100%;
    padding: 2rem;
    box-shadow: #000000 2px 2px 8px;
    color: #ffffff;
}
.mainstore{
    /* background-color: #000000; */
    position: sticky;
    margin-top: 5vw;
    top: 12rem;
    display: flex;
    background: #5c5e60;
    padding: 5vw;
    padding-bottom: 10rem;
    overflow: auto;
}
.mainstore > img{
    /* position: absolute; */
    /* display: inline-block; */
    width: 24vw;
    box-shadow: #000000 2px 2px 8px;
  
}
.mainstore > .productinfo{
    /* position: absolute; */
  
    background-color: #000000;
    padding: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.mainstore h2{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.mainstore p{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}