/* OVERALL*/
*{
    scroll-behavior: smooth;
    margin: 0;
    /* top:5vw; */
}
.header {
position: relative;
text-align: center;
color: rgb(0, 0, 0);
}
.headcontainer{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
}

button{
  margin: 3rem;
  background-color: #000000;
  padding: 1rem;
  padding-inline: 3.5vw;
  font-size: 1.5rem;
  color: white;
}

button:hover, h1:hover{
  
  animation-name: myAnimation;
  animation-duration: .1s;
   /* background-image: linear-gradient(to right, #101010, rgb(197, 0, 0)); */
}
button:active{
  transform: scale(0.8);
  background-image: linear-gradient(to right, #101010, rgb(197, 0, 0));
}

/*  */
@keyframes myAnimation {
  0%   {background-color:rgb(0, 62, 12); padding:5rem;}
  75%  {background-color:rgb(255, 255, 255); margin-left: 500rem;}
  /* 50%  {background-color:rgb(255, 255, 255);}
  75%  {background-color:green; transform: translate(-100%,-50%)} */
  /* 100% {background-color:rgb(255, 255, 255); transform: translate(-50%,-50%)} */
}
h1{
 color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 3rem;
}

/* Navigation */
nav{
  background-color: #000000;
  color: rgb(255, 255, 255);
  /* padding: 1vw; */
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 8px #2d3032;
  z-index: 3;

}

.breadcrumbs{
    position: fixed;
    top:4rem;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    padding:.5rem;
    width:100%;
    font-size: 15px;
    box-shadow: #bfbfbf 2px 2px 8px;
}
.breadcrumbs a{
    font-family: "adamina", serif;
    text-decoration: none;
    color: #ff0000;
   
    /* position: fixed; */
}
.breadcrumbs a:hover{
    text-decoration: underline;
    background-color: #000000;
    padding: .5rem;
    color: #ffffff;
}
.breadcrumbs > a.currentsite{
    font-weight: bold;
    text-decoration: underline;
    
}

.help{
    
    /* margin-top: 2.7rem; */
    width: 100rem;
    /* height: auto; */
    object-fit: fill;
   
}

